//
//  <%= "#{@view_name}View.h" %>
//  <%= config['bundle_name'] %>
//
//  Generated at <%= Time.now.strftime('%d.%m.%y') %>.
//  Created by <%= config['user_name'] %> <%= config['user_email'] %>.
//  Copyright © <%= Time.now.strftime('%Y') %> <%= config['company_name'] %>. All rights reserved.
//

#import <UIKit/UIKit.h>

@interface <%= "#{@view_name}View" %> : UIView
<% @attributes.each do |attribute| %>
@property (strong, nonatomic) <%=attribute[:type]%> *<%=attribute[:name]%>;<% end %>

@end