//
//  <%= "#{name}ViewModel.h" %>
//  <%= config['bundle_name'] %>
//
//  Generated at <%= Time.now.strftime('%d.%m.%y') %>.
//  Created by <%= config['user_name'] %> <%= config['user_email'] %>.
//  Copyright © <%= Time.now.strftime('%Y') %> <%= config['company_name'] %>. All rights reserved.
//

#import <Foundation/Foundation.h>
#import "ClaimViewModelProtocol.h"

@class RACSignal;

@interface <%= "#{name}ViewModel" %> : NSObject <ClaimViewModelProtocol>

@property (assign, nonatomic) id dataModel;
@property (nonatomic) NSInteger currentStepIdx;
@property (nonatomic) NSInteger stepsCount;

<% 
config['form_rows'].each do |row|
    next unless row['model']  %>
@property (strong, nonatomic) NSString *<%= row['model']%>;<% end %>

<%
    config['form_rows'].each do |row|
        next unless row['validators']
        row['validators'].each do |validator| %>
@property (strong, nonatomic) RACSignal *<%= validator['signal'] %>;<% end %>
<% end %>

@end