//
//  <%= "#{name}Router.h" %>
//  <%= config['bundle_name'] %>
//
//  Generated at <%= Time.now.strftime('%d.%m.%y') %>.
//  Created by <%= config['user_name'] %> <%= config['user_email'] %>.
//  Copyright © <%= Time.now.strftime('%Y') %> <%= config['company_name'] %>. All rights reserved.
//

#import "BaseRouter.h"

@interface <%= "#{name}Router" %> : BaseRouter

@end