//
//  <%= "#{name}ViewController.h" %>
//  <%= config['bundle_name'] %>
//
//  Generated at <%= Time.now.strftime('%d.%m.%y') %>.
//  Created by <%= config['user_name'] %> <%= config['user_email'] %>.
//  Copyright © <%= Time.now.strftime('%Y') %> <%= config['company_name'] %>. All rights reserved.
//

#import <UIKit/UIKit.h>
#import "ClaimViewControllerProtocol.h"
#import "<%= "#{name}ViewModel.h" %>"
#import "ClaimManager.h"

@interface <%= "#{name}ViewController" %> : UIViewController<ClaimViewControllerProtocol>

@property (strong, nonatomic) <%= "#{name}ViewModel" %> *viewModel;
@property (assign, nonatomic) ClaimManager *claimManager;

@end