//
//  <%= "#{@view_name}View.m" %>
//  <%= config['bundle_name'] %>
//
//  Generated at <%= Time.now.strftime('%d.%m.%y') %>.
//  Created by <%= config['user_name'] %> <%= config['user_email'] %>.
//  Copyright © <%= Time.now.strftime('%Y') %> <%= config['company_name'] %>. All rights reserved.
//

#import "<%= "#{@view_name}View.h" %>"
#import "StyleHelper.h"
#import "UIColor+tools.h"
#import "NSObject+ZAObjectMaker.h"
#import <Masonry/Masonry.h>

#define PADDING 10.f

@interface <%= "#{@view_name}View" %>()
    
@end

@implementation <%= "#{@view_name}View" %>

- (instancetype)initWithFrame:(CGRect)frame {
    if (self = [super initWithFrame:frame]) {
        [self configureViews];
    }
    return self;
}

- (void)configureViews {

    self.bgImageView = [UIImageView za_makeObject:^(UIImageView *i) {
        i.image = [UIImage imageNamed:@"alarm_bg"];
        i.contentMode = UIViewContentModeScaleAspectFill;
    }];

    self.tableView = [UITableView za_makeObject:^(UITableView *i) {
        i.backgroundColor       = [UIColor whiteColor];
        i.separatorStyle        = UITableViewCellSeparatorStyleNone;
        i.keyboardDismissMode   = UIScrollViewKeyboardDismissModeInteractive;
        i.tableFooterView       = [UIView new];
        i.alwaysBounceVertical  = NO;
        i.showsVerticalScrollIndicator = NO;
    }];

    // hierarchy
    [self addSubview:self.bgImageView];
    [self addSubview:self.tableView];

    // layouts
    [self configureLayouts];
}

- (void)configureLayouts {

    [self.bgImageView mas_makeConstraints:^(MASConstraintMaker *make) {
        make.edges.equalTo(@0);
    }];
    
    [self.tableView mas_makeConstraints:^(MASConstraintMaker *make) {
        make.top.equalTo(@70);
        make.leading.equalTo(@(PADDING));
        make.trailing.equalTo(@(-PADDING));
        make.bottom.equalTo(@0.f);
    }];
}

@end