//
//  <%= "#{name}ViewController.m" %>
//  <%= config['bundle_name'] %>
//
//  Generated at <%= Time.now.strftime('%d.%m.%y') %>.
//  Created by <%= config['user_name'] %> <%= config['user_email'] %>.
//  Copyright © <%= Time.now.strftime('%Y') %> <%= config['company_name'] %>. All rights reserved.
//

#import "<%= "#{name}ViewController.h" %>"
#import "<%= "#{@view_name}View.h" %>"
#import "<%= "BaseRouter.h" %>"

#import "NSObject+ZAObjectMaker.h"

#import "RowValidator.h"
#import <ZAForm/ZAForm.h>
#import <ReactiveCocoa/ReactiveCocoa.h>

@interface <%= "#{name}ViewController" %> ()
<% @attributes.each do |attribute| %>
@property (weak, nonatomic) <%=attribute[:type]%> *<%=attribute[:name]%>;<% end %>

@property (strong, nonatomic) BaseRouter *router;
@property (strong, nonatomic) ZAFormTableManager *formManager;

@end

@implementation <%= "#{name}ViewController" %>

#pragma mark - UIViewController Life Cycle

- (void)loadView {
    self.view = [<%= "#{@view_name}View" %> new];    
    <%= "#{@view_name}View" %> *sView = (<%= "#{@view_name}View" %> *)self.view;
    <% @attributes.each do |attribute| %>
    self.<%=attribute[:name]%> = sView.<%=attribute[:name]%>;<% end %>
}

- (void)viewDidLoad {
    [super viewDidLoad];
    
    // assign router
    self.router = [[BaseRouter alloc] initWithViewController:self];

    // assign view model
    self.viewModel = [<%= "#{name}ViewModel" %> new];
    
    // enviroment
    
    // form
    self.formManager = [[ZAFormTableManager alloc] initWithTableView:self.tableView proxyDelegate:nil];
    [self createForm];
}

- (void)viewWillAppear:(BOOL)animated {
    [super viewWillAppear:animated];
}

- (void)viewDidAppear:(BOOL)animated {
    [super viewDidAppear:animated];
}

#pragma mark - form

- (void)createForm {
    
    @weakify(self);
    
    ZAFormSection *section = [ZAFormSection za_makeObject:^(ZAFormSection *i) {
    }];

    <%
    i = 0
    channels = []
    %>
    <% config['form_rows'].each do |row| %>
    <% 
        row_class = row['row']
        row_cell_class = row['cell']
        row_placeholder = row['placeholder']
        row_title = row['title']
        m_name = row['model']
        channels << m_name if m_name
        if !m_name
            puts i 
            i = i + 1
            m_name = i.to_s
            row['model'] = m_name
        end
    %>
    <%=row_class%> *row<%=m_name.sub(/^./, &:upcase)%> = [<%=row_class%> za_makeObject:^(<%=row_class%> *i) {
        <%if row_title %>i.title = @"<%= row_title %>";<% end %>
        <%if row_placeholder %>i.placeholderValue = @"<%= row_placeholder %>";<% end %>
        i.cellClass  = [<%=row_cell_class%> class];
        i.cellHeight = UITableViewAutomaticDimension; 
    }];
    <% end %>

    // channels
    <% channels.each do |m_name| %>
    RACChannelTo(<%="row#{m_name.sub(/^./, &:upcase)}"%>, value) = RACChannelTo(self.viewModel, <%= m_name %>);<% end %>

    // load form
    [section addRows:@[<% channels.each do |m_name| %>
                       <%="row#{row['model'].sub(/^./, &:upcase)}"%>,<% end %>
                       ]];

    [self.formManager addSection:section];
    [self.formManager reloadForm];


    // validators
    <% i = 0 %>
    <%
        config['form_rows'].each do |row|
            next unless row['validators']
            row['validators'].each do |validator| %>
                <% i += 1 %>
    RowValidator *v<%= i %> = [RowValidator za_makeObject:^(RowValidator *i) {
        i.validateSignal = self.viewModel.<%= validator['signal'] %>;
        i.errorMessage = <%= validator['message'] ? "@\"#{validator['message']}\"" : "@\"\"" %>;
        i.showOnChange = NO;
        i.showOnBlur = YES;
    }];<% end %>
    <% end %>

    <% i = 0 %>
    <%
        config['form_rows'].each do |row|
            next unless row['validators']
            row['validators'].each do |validator| %>
                <% i += 1 %>
    [row<%= row['model'].sub(/^./, &:upcase) %> addRowValidator:v<%= i %>];<% end %><% end %>
}

@end
