//
//  <%= "#{name}Cell.m" %>
//  <%= config['bundle_name'] %>
//
//  Generated at <%= Time.now.strftime('%d.%m.%y') %>.
//  Created by <%= config['user_name'] %> <%= config['user_email'] %>.
//  Copyright © <%= Time.now.strftime('%Y') %> <%= config['user_name'] %>. All rights reserved.
//

#import "<%= "#{name}Cell.h" %>"
#import "<%= "#{name}CellViewModel.h" %>"
#import "NSObject+ZAObjectMaker.h"
#import <Masonry/Masonry.h>

@interface <%= "#{name}Cell" %>()
    
@end

@implementation <%= "#{name}Cell" %>

- (instancetype)initWithStyle:(UITableViewCellStyle)style reuseIdentifier:(NSString *)reuseIdentifier {
    if (self = [super initWithStyle:style reuseIdentifier:reuseIdentifier]) {
        [self configureViews];
    }
    return self;
}

- (void)configureViews {
<% @attributes.each do |attribute| %>
    self.<%= attribute[:name] %> = [<%= attribute[:type]%> za_makeObject:^(<%= attribute[:type]%> *i) {
    }];
<% end %>
    // hierarchy
<% @attributes.each do |attribute| %>
    [self addSubview:self.<%= attribute[:name] %>];
<% end %>
    
    // layouts
    [self configureLayouts];
}

- (void)configureLayouts {
<% @attributes.each do |attribute| %>
    [self.<%= attribute[:name] %> mas_makeConstraints:^(MASConstraintMaker *make) {
    }];
<% end %>
}

#pragma mark -

/*
- (void)setSelected:(BOOL)selected animated:(BOOL)animated {
    [super setSelected:selected animated:animated];
}
*/

#pragma mark - viewModel

- (void)configureWithViewModel:(id)aViewModel {
    <%= "#{name}CellViewModel" %> *viewModel = (<%= "#{name}CellViewModel" %> *)aViewModel;

}

@end