//
//  <%= "#{name}ViewModel.m" %>
//  <%= config['bundle_name'] %>
//
//  Generated at <%= Time.now.strftime('%d.%m.%y') %>.
//  Created by <%= config['user_name'] %> <%= config['user_email'] %>.
//  Copyright © <%= Time.now.strftime('%Y') %> <%= config['user_name'] %>. All rights reserved.
//

#import "<%= "#{name}ViewModel.h" %>"
#import "<%= "#{name}CellViewModel.h" %>"
#import <ReactiveCocoa/ReactiveCocoa.h>

@interface <%= "#{name}ViewModel" %> ()

@property (strong, nonatomic) id apiService;

@end

@implementation <%= "#{name}ViewModel" %>

- (instancetype)init {
    if (self = [super init]) {
        [self configure];
    }
    return self;
}

- (void)configure {
    // di
    self.apiService = [[APIProductsService alloc] init];
    
    //
    @weakify(self);
    self.loadCommand = [[RACCommand alloc] initWithSignalBlock:^RACSignal *(id input) {
        @strongify(self);
        return [self loadSignal];
    }];    
}

#pragma mark -

- (RACSignal *)loadSignal {
    return nil;
}

- (void)fetchResult:(NSDictionary *)result error:(NSError **)error {
    
}

#pragma mark -

- (id)cellViewModelAtIndexPath:(NSIndexPath *)indexPath {
    id item = [self.items objectAtIndexPath:indexPath.row];
    <%= "#{name}CellViewModel" %> *cellViewModel = [<%= "#{name}CellViewModel" %> new];

    // set properties here

    return cellViewModel;
}

@end