//
//  <%= "#{name}ViewController.m" %>
//  <%= config['bundle_name'] %>
//
//  Generated at <%= Time.now.strftime('%d.%m.%y') %>.
//  Created by <%= config['user_name'] %> <%= config['user_email'] %>.
//  Copyright © <%= Time.now.strftime('%Y') %> <%= config['company_name'] %>. All rights reserved.
//

#import "<%= "#{name}ViewController.h" %>"
#import "<%= "#{name}View.h" %>"
#import "<%= "#{name}ViewModel.h" %>"
#import "<%= "#{name}Router.h" %>"
#import <ReactiveCocoa/ReactiveCocoa.h>

@interface <%= "#{name}ViewController" %> ()
<% @attributes.each do |attribute| %>
@property (weak, nonatomic) <%=attribute[:type]%> *<%=attribute[:name]%>;<% end %>

@property (strong, nonatomic) <%= "#{name}ViewModel" %> *viewModel;
@property (strong, nonatomic) <%= "#{name}Router" %> *router;

@end

@implementation <%= "#{name}ViewController" %>

#pragma mark - UIViewController Life Cycle

- (void)loadView {
    self.view = [<%= "#{name}View" %> new];
    
    <%= "#{name}View" %> *sView = (<%= "#{name}View" %> *)self.view;
    <% @attributes.each do |attribute| %>
    self.<%=attribute[:name]%> = sView.<%=attribute[:name]%>;<% end %>
}

- (void)viewDidLoad {
    [super viewDidLoad];
    
    // assign router
    self.router = [[<%= "#{name}Router" %> alloc] initWithViewController:self];

    // enviroment
    
    // assign view model
    self.viewModel = [<%= "#{name}ViewModel" %> new];
    
}

- (void)viewWillAppear:(BOOL)animated {
    [super viewWillAppear:animated];
}

- (void)viewDidAppear:(BOOL)animated {
    [super viewDidAppear:animated];
}


@end
