//
//  <%= "#{name}ViewController.m" %>
//  <%= config['bundle_name'] %>
//
//  Generated at <%= Time.now.strftime('%d.%m.%y') %>.
//  Created by <%= config['user_name'] %> <%= config['user_email'] %>.
//  Copyright © <%= Time.now.strftime('%Y') %> <%= config['user_name'] %>. All rights reserved.
//

#import "<%= "#{name}ViewController.h" %>"
#import "<%= "#{name}View.h" %>"
#import "<%= "#{name}ViewModel.h" %>"
#import "<%= "#{name}Router.h" %>"
#import "<%= "#{name}Cell.h" %>"
#import "<%= "#{name}CellViewModel.h" %>"
#import <ReactiveCocoa/ReactiveCocoa.h>
#import <SVProgressHUD/SVProgressHUD.h>

@interface <%= "#{name}ViewController" %> () <UITableViewDataSource, UITableViewDelegate>
<% @attributes.each do |attribute| %>
@property (weak, nonatomic) <%=attribute[:type]%> *<%=attribute[:name]%>;<% end %>

@property (strong, nonatomic) <%= "#{name}ViewModel" %> *viewModel;
@property (strong, nonatomic) <%= "#{name}Router" %> *router;

@end

@implementation <%= "#{name}ViewController" %>

#pragma mark - UIViewController Life Cycle

- (void)loadView {
    self.view = [<%= "#{name}View" %> new];
    
    <%= "#{name}View" %> *sView = (<%= "#{name}View" %> *)self.view;
    <% @attributes.each do |attribute| %>
    self.<%=attribute[:name]%> = sView.<%=attribute[:name]%>;<% end %>
}

- (void)viewDidLoad {
    [super viewDidLoad];
    
    // assign router
    self.router = [<%= "#{name}Router" %> new];

    // enviroment
    
    // assign view model
    self.viewModel = [<%= "#{name}ViewModel" %> new];

    // tableView
    self.tableView.dataSource = self;
    self.tableView.delegate = self;    
    [self.tableView registerClass:[UITableViewCell class] forCellReuseIdentifier:@"Cell"];

    // binding
    @weakify(self);

    // reload table
    [RACObserve(self.viewModel, items)
        subscribeNext:^(id x) {
            @strongify(self);
            [self.tableView reloadData];
        }];

    // side effect
    [self.viewModel.loadCommand.executing
        subscribeNext:^(NSNumber *x) {
            if (x.boolValue) {
                [SVProgressHUD show];
            } else {
                [SVProgressHUD dismiss];
            }
        }];

    // error handler
    [self.viewModel.loadCommand.errors
        subscribeNext:^(NSError *error) {
            @strongify(self);
            [SVProgressHUD dismiss];
            [self errorHandler:error];
        }];

    // load data
    [self.viewModel.loadCommand execute:nil];
}

- (void)viewWillAppear:(BOOL)animated {
    [super viewWillAppear:animated];
}

- (void)viewDidAppear:(BOOL)animated {
    [super viewDidAppear:animated];
}

#pragma mark - UITableViewDataSource

- (NSInteger)tableView:(UITableView *)tableView numberOfRowsInSection:(NSInteger)section {
    return [self.viewModel.items count];
}

- (UITableViewCell *)tableView:(UITableView *)tableView cellForRowAtIndexPath:(NSIndexPath *)indexPath {
    UITableViewCell *cell = [tableView dequeueReusableCellWithIdentifier:@"Cell" forIndexPath:indexPath];
    [self configureCell:cell forIndexPath:indexPath];
    return cell;
}

- (void)configureCell:(UITableViewCell *)aCell forIndexPath:(NSIndexPath *)indexPath {
    <%= "#{name}CellViewModel" %> *cellVM = [self.viewModel cellViewModelAtIndexPath:indexPath];
    <%= "#{name}Cell" %> *cell = (<%= "#{name}Cell" %> *)aCell;
    // configure properties
}

#pragma mark - UITableViewDelegate

- (void)tableView:(UITableView *)tableView didSelectRowAtIndexPath:(NSIndexPath *)indexPath {
}

#pragma mark - errorHandler

- (void)errorHandler:(NSError *)error {
    UIAlertView *alert = [[UIAlertView alloc] initWithTitle:@"Error" message:error.localizedDescription delegate:nil cancelButtonTitle:@"Ok" otherButtonTitles:nil];
    [alert show];
}

#pragma mark - NSObject

- (void)dealloc {

}

@end
