//
//  <%= "#{name}ViewModel.m" %>
//  <%= config['bundle_name'] %>
//
//  Generated at <%= Time.now.strftime('%d.%m.%y') %>.
//  Created by <%= config['user_name'] %> <%= config['user_email'] %>.
//  Copyright © <%= Time.now.strftime('%Y') %> <%= config['company_name'] %>. All rights reserved.
//

#import "<%= "#{name}ViewModel.h" %>"
#import <ReactiveCocoa/ReactiveCocoa.h>

@interface <%= "#{name}ViewModel" %> ()

@end

@implementation <%= "#{name}ViewModel" %>

- (instancetype)init {
    if (self = [super init]) {
        [self configure];
    }
    return self;
}

- (void)configure {
    
}

@end