//
//  <%= "#{name}ViewController.m" %>
//  <%= config['bundle_name'] %>
//
//  Generated at <%= Time.now.strftime('%d.%m.%y') %>.
//  Created by <%= config['user_name'] %> <%= config['user_email'] %>.
//  Copyright © <%= Time.now.strftime('%Y') %> <%= config['user_name'] %>. All rights reserved.
//

#import "<%= "#{name}ViewController.h" %>"
#import "<%= "#{name}View.h" %>"
#import "<%= "#{name}ViewModel.h" %>"
#import "<%= "#{name}Router.h" %>"

#import "NSObject+ZAObjectMaker.h"
#import "UIViewController+ErrorHandler.h"

#import "StyleHelper.h"
#import "UIHelper.h"

#import <ZAForm.h>
#import "TableMessageHeader.h"
#import "EUPSectionHeader.h"
#import "LineFooter.h"
#import "FormInputStringCell.h"
#import "FormInputDigitCell.h"
#import "HeaderMultipleCenterCell.h"
#import "PaperButtonCell.h"
#import "FormPasswordRow.h"
#import "FormDigitFormatter.h"
#import "FormMaskDigitLogic.h"

#import <ReactiveCocoa.h>
#import <SVProgressHUD/SVProgressHUD.h>

@interface <%= "#{name}ViewController" %> ()
<% @attributes.each do |attribute| %>
@property (weak, nonatomic) <%=attribute[:type]%> *<%=attribute[:name]%>;<% end %>

@property (strong, nonatomic) <%= "#{name}ViewModel" %> *viewModel;
@property (strong, nonatomic) <%= "#{name}Router" %> *router;

@property (strong, nonatomic) ZAFormTableManager *formManager;

@end

@implementation <%= "#{name}ViewController" %>

#pragma mark - UIViewController Life Cycle

- (void)loadView {
    self.view = [<%= "#{name}View" %> new];
    
    <%= "#{name}View" %> *sView = (<%= "#{name}View" %> *)self.view;
    <% @attributes.each do |attribute| %>
    self.<%=attribute[:name]%> = sView.<%=attribute[:name]%>;<% end %>
}

- (void)viewDidLoad {
    [super viewDidLoad];
    
    // assign router
    self.router = [[<%= "#{name}Router" %> alloc] initWithViewController:self];

    // assign view model
    self.viewModel = [[<%= "#{name}ViewModel" %> alloc] init];

    // enviroment
    UIBarButtonItem *bb = [StyleHelper barButtonItemWithImage:[UIImage imageNamed:@"nav_back"]
                                                           target:self.router
                                                           action:@selector(back)];
    self.navigationItem.leftBarButtonItem = bb;
    self.navigationItem.title = LS(@"...");
    
    // table
    self.tableView.tableFooterView = [[UIView alloc] initWithFrame:(CGRect){0.f, 0.f, 320.f, 20.f}];
    self.tableView.keyboardDismissMode = UIScrollViewKeyboardDismissModeInteractive;

    NSString *message = LS(@"");
    TableMessageHeader *tableHeader = [UIHelper tableHeaderWithMessage:message];
    self.tableView.tableHeaderView = tableHeader;
    
    // form manager
    self.formManager = [[ZAFormTableManager alloc] initWithTableView:self.tableView proxyDelegate:nil];
    [self createForm];

    // binding
    @weakify(self);
    
    [self.viewModel.workCommand.executing
        subscribeNext:^(NSNumber *x) {
            if (x.boolValue) {
                [SVProgressHUD show];
            } else {
                [SVProgressHUD dismiss];
            }
        }];
    
    [self.viewModel.workCommand.errors
        subscribeNext:^(NSError *error) {
            @strongify(self);
            [self errorEUPHandler:error];
        }];
    
    [[self.viewModel.workCommand.executionSignals switchToLatest]
        subscribeNext:^(id x) {
            XLog(@"...");
            @strongify(self);
        }];
}

- (void)viewWillAppear:(BOOL)animated {
    [super viewWillAppear:animated];
    [self startKeyboardObservers];
}

- (void)viewDidAppear:(BOOL)animated {
    [super viewDidAppear:animated];
}

- (void)viewWillDisappear:(BOOL)animated {
    [super viewWillDisappear:animated];
    [self stopKeyboardObservers];
}

#pragma mark - form

- (void)createForm {
    
    @weakify(self);
    self.formManager.sectionHeight = @60.f;
    
    // section
    ZAFormSection *section = [ZAFormSection za_makeObject:^(ZAFormSection *i) {
        i.title             = LS(@"");
        i.iconName          = @"eup_sicon_";
        i.sectionCellClass  = [EUPSectionHeader class];
        i.footer            = [UIHelper generateSectionFooter];
    }];
    
    ZAFormRow *row = [ZAFormRow za_makeObject:^(ZAFormRow *i) {
        i.title         = LS(@"");
        i.value         = nil;
        i.cellClass     = [FormInputStringCell class];
        i.cellHeight    = 62.f;
        i.warningLength = @0;
    }];

    // --
    [section addRows:@[row]];
    
    [self.formManager addSections:@[section]];
    [self.formManager reloadForm];    
}

#pragma mark - keyboard

- (void)startKeyboardObservers {
    // keyboard
    [[NSNotificationCenter defaultCenter] addObserver:self selector:@selector(keyboardWillShow:) name:UIKeyboardWillShowNotification object:nil];
    [[NSNotificationCenter defaultCenter] addObserver:self selector:@selector(keyboardWillHide:) name:UIKeyboardWillHideNotification object:nil];
}

- (void)stopKeyboardObservers {
    [[NSNotificationCenter defaultCenter] removeObserver:self name:UIKeyboardWillShowNotification object:nil];
    [[NSNotificationCenter defaultCenter] removeObserver:self name:UIKeyboardWillHideNotification object:nil];
}

- (void)keyboardWillShow:(NSNotification *)notification {
    NSDictionary *userInfo = [notification userInfo];
    CGRect finalRect = [[userInfo objectForKey:UIKeyboardFrameEndUserInfoKey] CGRectValue];
    
    UIEdgeInsets contentInsets = self.tableView.contentInset;
    contentInsets.bottom = finalRect.size.height;
    self.tableView.contentInset = contentInsets;
    self.tableView.scrollIndicatorInsets = contentInsets;
}

- (void)keyboardWillHide:(NSNotification *)notification {
    UIEdgeInsets contentInsets = self.tableView.contentInset;
    contentInsets.bottom = 0.f;
    self.tableView.contentInset = contentInsets;
    self.tableView.scrollIndicatorInsets = contentInsets;
}

@end
