//
//  <%= "#{name}Router.m" %>
//  <%= config['bundle_name'] %>
//
//  Generated at <%= Time.now.strftime('%d.%m.%y') %>.
//  Created by <%= config['user_name'] %> <%= config['user_email'] %>.
//  Copyright © <%= Time.now.strftime('%Y') %> <%= config['user_name'] %>. All rights reserved.
//

#import "<%= "#{name}Router.h" %>"

@implementation <%= "#{name}Router" %>

@end