//
//  <%= "#{name}ViewModel.m" %>
//  <%= config['bundle_name'] %>
//
//  Generated at <%= Time.now.strftime('%d.%m.%y') %>.
//  Created by <%= config['user_name'] %> <%= config['user_email'] %>.
//  Copyright © <%= Time.now.strftime('%Y') %> <%= config['user_name'] %>. All rights reserved.
//

#import "<%= "#{name}ViewModel.h" %>"
#import "EUPApiAuthService.h"

#import "NSObject+ReactiveValidators.h"
#import <ReactiveCocoa.h>

@interface <%= "#{name}ViewModel" %> ()

@property (strong, nonatomic) EUPApiAuthService *apiService;

@end

@implementation <%= "#{name}ViewModel" %>

- (instancetype)init {
    if (self = [super init]) {
        [self configure];
    }
    return self;
}

- (void)configure {
    
    // di
    self.apiService = [[EUPApiAuthService alloc] init];
    
    // actions
    @weakify(self);
    self.workCommand = [[RACCommand alloc] initWithEnabled:self.validateSignal signalBlock:^RACSignal *(id input) {
        @strongify(self);
        return [self workInsideSignal];
    }];
}

#pragma mark - inside signal

- (RACSignal *)workInsideSignal {
    @weakify(self);
    return [[self.apiService ...]
        flattenMap:^RACStream *(NSDictionary *result) {
            @strongify(self);
            return [self fetchWorkSignal:result];
        }];
}

- (RACSignal *)fetchWorkSignal:(NSDictionary *)result {
    return [RACSignal return:@1];
}

@end