//
//  <%= "#{name}View.m" %>
//  <%= config['bundle_name'] %>
//
//  Generated at <%= Time.now.strftime('%d.%m.%y') %>.
//  Created by <%= config['user_name'] %> <%= config['user_email'] %>.
//  Copyright © <%= Time.now.strftime('%Y') %> <%= config['user_name'] %>. All rights reserved.
//

#import "<%= "#{name}View.h" %>"
#import "StyleHelper.h"
#import "NSObject+ZAObjectMaker.h"
#import <Masonry.h>

@interface <%= "#{name}View" %>()
    
@end

@implementation <%= "#{name}View" %>

- (instancetype)initWithFrame:(CGRect)frame {
    if (self = [super initWithFrame:frame]) {
        [self configureViews];
    }
    return self;
}

- (void)configureViews {
<% @attributes.each do |attribute| %>
    self.<%= attribute[:name] %> = [<%= attribute[:type]%> za_makeObject:^(<%= attribute[:type]%> *i) {
    }];
<% end %>    
<% @attributes.each do |attribute| %>
    [self addSubview:self.<%= attribute[:name] %>];
<% end %>    
    self.backgroundColor = [StyleHelper EUPGrayColor];
    
    self.tableView = [[UITableView alloc] initWithFrame:self.bounds style:UITableViewStylePlain];
    self.tableView.backgroundColor = [StyleHelper EUPGrayColor];
    [self addSubview:self.tableView];

    // layouts    
    [self configureLayouts];
}

- (void)configureLayouts {
<% @attributes.each do |attribute| %>
    [self.<%= attribute[:name] %> mas_makeConstraints:^(MASConstraintMaker *make) {

    }];
    <% end %>    

    [self.tableView mas_makeConstraints:^(MASConstraintMaker *make) {
        make.edges.equalTo(self);
    }];
}

@end