//
//  <%= "#{name}ViewModel.h" %>
//  <%= config['bundle_name'] %>
//
//  Generated at <%= Time.now.strftime('%d.%m.%y') %>.
//  Created by <%= config['user_name'] %> <%= config['user_email'] %>.
//  Copyright © <%= Time.now.strftime('%Y') %> <%= config['user_name'] %>. All rights reserved.
//

#import <Foundation/Foundation.h>

@class RACCommand, RACSignal;

@interface <%= "#{name}ViewModel" %> : NSObject

#pragma mark - validators

/// form validate signal
@property (strong, nonatomic) RACSignal *validateSignal;

#pragma mark - actions

/// command
@property (strong, nonatomic) RACCommand *workCommand;

@end