//
//  <%= "M#{name}.h" %>
//  <%= config['bundle_name'] %>
//
//  Generated at <%= Time.now.strftime('%d.%m.%y') %>.
//  Created by <%= config['user_name'] %> <%= config['user_email'] %>.
//  Copyright © <%= Time.now.strftime('%Y') %> <%= config['user_name'] %>. All rights reserved.
//

#import <Foundation/Foundation.h>

@interface <%= "M#{name}" %> : NSObject <NSCopying, NSCoding>
<% @attributes.each do |attribute| %>
@property (strong, nonatomic) <%=attribute[:type]%> *<%=attribute[:name]%>;<% end %>

@end