//
//  <%= "M#{name}.m" %>
//  <%= config['bundle_name'] %>
//
//  Generated at <%= Time.now.strftime('%d.%m.%y') %>.
//  Created by <%= config['user_name'] %> <%= config['user_email'] %>.
//  Copyright © <%= Time.now.strftime('%Y') %> <%= config['user_name'] %>. All rights reserved.
//

#import "<%= "M#{name}.h" %>"

@interface <%= "M#{name}" %> ()

@end

@implementation <%= "M#{name}" %>

#pragma mark - NSCopying

- (id)copyWithZone:(NSZone *)zone {
    NSData *buffer;
    buffer = [NSKeyedArchiver archivedDataWithRootObject:self];
    <%="M#{name}"%> *copy = [NSKeyedUnarchiver unarchiveObjectWithData:buffer];
    return copy;
}

#pragma mark - NSCoding

- (id)initWithCoder:(NSCoder *)decoder {
    if (self = [super init]) {
<% @attributes.each do |attribute| %>
        self.<%=attribute[:name]%> = [decoder decodeObjectForKey:@"<%=attribute[:name]%>"];<% end %>
    }
    return self;
}

- (void)encodeWithCoder:(NSCoder *)encoder {
<% @attributes.each do |attribute| %>
		[encoder encodeObject:_<%=attribute[:name]%> forKey:@"<%=attribute[:name]%>"];<% end %>
}

@end